body{
    background-color: black;
    color: rgb(205, 194, 214);
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 250px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}